In [4]:
import pandas as pd

In [5]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [3]:
y = ['Nat', 'Nana', 'Ken']
z = [27,27,27]

pd.DataFrame([y,z])

     0     1    2
0  Nat  Nana  Ken
1   27    27   27

In [7]:

pd.DataFrame({'name':y, 'age':z})

   name  age
0   Nat   27
1  Nana   27
2   Ken   27

In [19]:
my_df = pd.DataFrame({'grade':[1,2,3,4,5,6,7,8,9,10,11],
                      'stuff': ['k','k','k','k','k','k','k','k','k','k','k']})

In [22]:
my_df.head(5)

   grade stuff
0      1     k
1      2     k
2      3     k
3      4     k
4      5     k

In [21]:
 df = pd.DataFrame({'y': [1, 2]})
 df

   y
0  1
1  2

In [15]:
my_df['grade']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
Name: grade, dtype: int64

In [16]:
my_df.iloc[0]

grade    1
stuff    a
Name: 0, dtype: object

In [17]:
my_df.index

RangeIndex(start=0, stop=11, step=1)

In [20]:
my_df[my_df['grade'] <4]['stuff']

0    k
1    k
2    k
Name: stuff, dtype: object

##What does the "write/render/evaluate" loop provides for creators of interactive data visualizations
#the write/render/evaluate loop allows creators to experiment with alternative mapping, tweak rules, and witness the output re-rendered.

##Why are dynamic, interactive data visualizations useful when communicating data?
#it motivates people to explore the data for themselves. Also, it is a good medium to engage an audience that may not normally be interested in the topic at hand.

In [ ]:
## Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.
#I am partial to his claim. Some open-source tools can be useful in cases where the user wants to prioritize ease of use. However, it is also important to be transparent when using software built by others. Open-source software does not give credit to the innovator and can sometimes be overly use.

In [6]:
df = pd.DataFrame({'name': ['Nat', 'Nana'],
                   'age': ['27', '23']})
                   
df.to_csv('out.csv', index=False)