In [1]:
import pandas as pd

#Import pandas as pd and create a new DataFrame that contains three columns and three rows.

In [2]:
Sdata = {
    'Country': ['Ghana', 'Niger', 'Canada','Italy'], 
    'Drink': ['Coffee', 'Asana', 'Tea', 'Wine'], 
    'Color': ['Yellow', 'White', 'Green','Red']
}
Sdf = pd.DataFrame(Sdata)
print(Sdf)

  Country   Drink   Color
0   Ghana  Coffee  Yellow
1   Niger   Asana   White
2  Canada     Tea   Green
3   Italy    Wine     Red

#In a new code cell, view the head of the DataFrame

In [3]:
Sdf.head(3)

  Country   Drink   Color
0   Ghana  Coffee  Yellow
1   Niger   Asana   White
2  Canada     Tea   Green

#In a new code cell, view the index of the DataFrame

In [4]:
print(Sdf.index)

RangeIndex(start=0, stop=4, step=1)

#In a new code cell, select and view only the first column of the DataFrame

In [5]:
print(Sdf['Country'])

0     Ghana
1     Niger
2    Canada
3     Italy
Name: Country, dtype: object

#In a new code cell, select and view only the first row of the DataFrame

In [6]:
print(Sdf.iloc[0])

Country     Ghana
Drink      Coffee
Color      Yellow
Name: 0, dtype: object

In [9]:
#In a new code cell, create a DataFrame that contains the same information as before, but by passing a different object type to the DataFrame constructor.

In [7]:
Sdata = [
    ['Ghana', 'Coffee', 'Yellow', 'Ama'], 
    ['Niger', 'Asana', 'White', 'Yussif'], 
    ['Canada', 'Tea', 'Green', 'Brian'], 
    ['Italy', 'Wine', 'Red', 'Camil'],
      [20, 30, 40, 50]
  
]

columns = ['Fruit', 'Vegetable', 'Snacks', 'Local names']

Sdf = pd.DataFrame(Sdata, columns=columns)
print(Sdf)

    Fruit Vegetable  Snacks Local names
0   Ghana    Coffee  Yellow         Ama
1   Niger     Asana   White      Yussif
2  Canada       Tea   Green       Brian
3   Italy      Wine     Red       Camil
4      20        30      40          50

In [12]:
# Data as a list of lists
data = [
    ['Ghana', 'Coffee', 'Yellow'], 
    ['Niger', 'Asana', 'White'], 
    ['Canada', 'Tea', 'Green'], 
    ['Italy', 'Wine', 'Red']
]
df = pd.DataFrame(data, columns=['Country','Drink','Color'])
print(df)

  Country   Drink   Color
0   Ghana  Coffee  Yellow
1   Niger   Asana   White
2  Canada     Tea   Green
3   Italy    Wine     Red

#What does the "write/render/evaluate" loop provide for creators of interactive data visualizations

The write/render/evaluate loop allows creators to experiment with alternative mapping, tweak rules, and witness the output re-rendered.

#Why are dynamic, interactive data visualizations useful when communicating data?

It motivates people to explore the data for themselves. Also, it is a good medium to engage an audience that may not normally be interested in the topic at hand.

#Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

I am partial to his claim. Some open-source tools can be useful in cases where the user wants to prioritize ease of use. However, it is also important to be transparent when using software built by others. Open-source software does not give credit to the innovator and can sometimes be overly used.

In [13]:
Raw_data = 'Sdf.csv'

# WritING dataframe to a CSV file
Sdf.to_csv(Raw_data, index=False)

print(f"file written to {Raw_data}")

file written to Sdf.csv